.charCard {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100%;
    margin: auto;
    margin-top: 2rem;    

    &__container {
        margin: 1rem auto 3rem;
    }    

    &__header {
        //padding-left: 40%;
        text-align: center;
    }

    &__image {
        max-width: 100%;
    }

    &__section {
        padding-left: 1rem;
    }

    &__text:not(:last-child) {
        border-bottom: 1px solid grey;
        padding-bottom: .2rem; 
        width: 85%;
    }

    @media screen and (max-width: 39.99875em) {
        // &__text {
            // text-align: center;
        // }

        & {
            width: 85%;
        }

        &__section {
           padding-left: 1.5rem; 
        }

        &__text:not(:last-child) {
            width: 66%;
        }
    }   

    



}

